
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-family: 'Secular One';
  margin: 0;
  min-height: 100vh;
  background: rgb(63,212,214);
  background: linear-gradient(0deg, rgba(63,212,214,1) 0%, rgba(253,187,45,1) 100%);
}


h1 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* border: 1px solid black; */
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 10px 30%;
  /* border: 1px solid black; */
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}
